<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning Management System</title>
    <%- include('../partials/assets.ejs'); %>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/dashboard.css" />
    <!-- Script element sourcing TinyMCE -->
   <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
   <!-- Script element sourcing the TinyMCE configuration -->
   <script type="application/javascript" src="/public/assets/js/tinymce.config.js"> </script> 
</head>